<!DOCTYPE HTML>
<html>
   <body>
      <form action = "http://165.22.247.111:8080/result_1" method = "POST">
         <p> Get Student grade </p>
         <p>Name <input type = "text" name = "st_name" /></p>
         <p>Student_ID <input type = "text" name = "st_ID" /></p>
         <p><input type = "submit" value = "학생 성적 조회" /></p>
      </form>
      <form action = "http://165.22.247.111:8080/result_2" method = "POST">
         <p> Get Class grade </p>
         <p><input type = "submit" value = "반 성적 조회" /></p>
      </form>
      <form action = "http://165.22.247.111:8080/result_3" method = "POST">
         <h2> Write Student grade </h2>
         <p>Name <input type = "text" name = "st_name" /></p>
         <p>ID <input type = "text" name = "st_ID" /></p>
         <p>Physics <input type = "text" name = "g_physics" /></p>
         <p>Alchemy <input type = "text" name = "g_alchemy" /></p>
         <p>Math <input type ="text" name = "g_math" /></p>
         <p>English  <input type = "text" name = "g_english" /></p>
         <p>Korean <input type = "text" name = "g_korean" /></p>
         <p><input type = "submit" value = "학생 성적 입력" /></p>
      </form>
   </body>
</html>

